<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/searchForm.css" />
    <link rel="stylesheet" href="/styles/starability-basic.css" />

    <title>Recipes</title>
  </head>

  <body>
    <%- include('../partials/navbar')%>

    <div class="container">
      <section>
        <h4>Search results <% if (query) { %>for '<%= query %>'<% } %></h4>

        <form class="search-form">
          <input
            type="search"
            id="query"
            name="query"
            placeholder="Search"
            required
            value="<%= query %>"
          />
          <button type="submit">
            <img src="/icons/search.svg" alt="Search" />
          </button>
        </form>

        <% if (!recipes.length) { %>
        <p>No results found</p>
        <% } %>

        <div class="last-recipes">
          <% for (let recipe of recipes) { %>
          <%-include("../partials/recipeCard", {recipe}) %> <% } %>
        </div>
      </section>

      <% if (page < totalPages) { %>
      <form action="/recipes">
        <button type="submit" class="load-more-button">Load More</button>
        <input type="hidden" name="page" value="<%= parseInt(page) + 1 %>" />
      </form>
      <% } %>
    </div>

    <%- include('../partials/footer')%>
  </body>
</html>
